body {
    font-family: 'Athiti', sans-serif;
    color: #333333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: auto;
}



ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
}


h1,
h2,
h3,
h6 {
    font-family: 'Archeron Pro', sans-serif;
}

h4,
h5 {
    font-family: 'Athiti', sans-serif;
}

.heading h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 52px;
}

.flex {
    display: flex;
}

em {
    font-style: normal;
    color: #8DC63F !important;
}

.green {
    color: #8DC63F;
}
