@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Book';
    src: url('ArcheronPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Book';
    src: url('ArcheronPro-Bookitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Heavyitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Regularitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro';
    src: url('ArcheronPro-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil';
    src: url('ArcheronProStencil-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil';
    src: url('ArcheronProStencil-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil Book';
    src: url('ArcheronProStencil-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil';
    src: url('ArcheronProStencil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil';
    src: url('ArcheronProStencil-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archeron Pro Stencil';
    src: url('ArcheronProStencil-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

